<!-- 			<header class="clearfix">
				<h1>{{ with .Site.Params.title }}{{ . | markdownify }}{{ end }}<span>{{ with .Site.Params.subtitle }}{{ . | markdownify }}{{ end }}</span></h1>
			</header> -->

			<section class="cover p-lg-5 p-md-5 p-3">
				<div class="header h-100">
					<div class="d-flex h-100 align-items-center">
						<div class="">
							<h1 class="h1 text-light">{{ with .Site.Params.title }}{{ . | markdownify }}{{ end }}</h1>
							<p class="text-light sub-heading">{{ with .Site.Params.subtitle }}{{ . | markdownify }}{{ end }}</p>
							<a href="{{ .Site.Params.header_btn_url }}" class="btn btn-outline-light">{{ with .Site.Params.header_btn_text }}{{ . | markdownify }}{{ end }}</a>
						</div>
					</div>
				</div>
			</section>